@import "colors.css";

* {
  font-family: "Ubuntu Nerd Font Propo";
  font-weight: bold;
  font-size: 14px;
  min-height: 1px;
}

/* Waybar Window */

window#waybar {
  background: alpha(@background, 0.85);
  border-radius: 15px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Workspaces */

#workspaces {
  background: @surface_container_high;
  border-radius: 15px;
  margin: 6px 0px 6px 8px;
	padding: 5 7 5 7px;
}

#workspaces button {
  background: @on_secondary_fixed_variant;
  border-radius: 15px;
  margin: 0 2 0 2px;
	padding: 0 0 0 0px;
  transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
  background: @on_primary_container;
  padding: 0 10 0 10px;
}

#workspaces button.active {
  background: @primary;
	padding: 0 10 0 10px;
}

#custom-launcher {
	color: @background;
  background: @primary;
  border-radius: 15px;
  margin: 6px 0px 6px 15px;
	padding: 0 7 2 7px;
}

/* System Information */

#clock {
  color: @primary;
  margin-right: 10px;
}

#network, #memory, #temperature, #cpu, #pulseaudio {
  color: @on_primary_container;
	background: @surface_container_high;
  margin: 6 0 6 0px;
	padding: 0 7 0 7px;
}

#temperature {
	border-radius: 0px 20px 20px 0px;
	margin-right: 8px;
}

#battery, #backlight, #power-profiles-daemon {
  color: @on_primary_container;
	background: @surface_container_high;
  margin: 6 0 6 0px;
	padding: 0 7 0 7px;
}

#battery {
	border-radius: 20px 0px 0px 20px;
}

#power-profiles-daemon {
	margin: 6 8 6 0px;
	border-radius: 0px 20px 20px 0px;
}

/* Sound */

#pulseaudio {
  color: @on_primary_container;
	border-radius: 20px 0px 0px 20px;
}

#pulseaudio-slider {
  background: @surface_container_high;
  margin: 6px 0px 6px 0px;
}

#pulseaudio-slider highlight {
  background: @primary;
}

#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 70px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: @on_secondary_fixed_variant;
}

#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
}

/* Tray */

#tray {
	  background: @surface_container_high;
	  border-radius: 40px;
		margin: 6px 15px 6px 0px;
		padding: 0 7 0 7px;
}

#tray menu * {
    min-height: 10px;
    font-size: 14px;
    border-radius: 20px;
    color: @on_primary_container;
    background: @background;
    border: @background;
}

#tray menu separator {
    color: @background;
    background: @background;
    min-height: 0px;
    border: @background;
}

/* Tooltips */

tooltip {
        background: @background;
        color: @on_primary_container;
        font-size: 13px;
        border-radius: 20px;
}
